[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
pillow = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"
